@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('styles-boutons.css');



@font-face {
	font-family: 'Eurostile';
	/* Replace 'YourFontName' with a name of your choice */
	src: url('../img/eurostile.TTF') format('truetype');
}


* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	/* font-family: 'Open+Sans', sans-serif; */
}

header {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 5.5em;
}

body {
	height:100vh;
}

/* #indexHeader {
	
} */

#lobbyHeader {
	height: 10vh;
	background-image: url('../img/login-magix.jpeg');
	background-position: center 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgb(37, 40, 107);
	justify-self:start;


}

#indexBody {
	background-image: url('../img/banner-login.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

#lobbyBody{
	background-image: url('../img/body-lobby.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	overflow: hidden;
	min-height: 100vh;
  	align-items: center;
}

#iframe-deck {
	display:none;
}

.div-glow {
	background-color: black;
	margin: 5px solid red;
}

.login-form-frame {
	height:500px;
	display:flex;
	border: blue solid 5px;
	justify-content: center;
}

h1 {
	font-size: 1.3em;
	margin-top: 40px;
	color: #f48024;
}

h2 {
	margin-top: 20px;
}


.erreur-connexion {
	border-color: red 2px solid;
}